﻿@page "/brands"
@using Brands.Data
@using System.Net.Http
@inject DialogService dialogService
@inject HttpClient client;

@using Newtonsoft.Json

<h3 style="margin-bottom: 2rem;"><b>Administration</b></h3>

<div style="margin: 2rem;">
    <h3 style="margin-bottom: 4rem "><b>Brands</b></h3>
    <div style="display: flex; justify-content: space-between;">
        <div>
            <button type="button" class="btn btn-primary custom-btn" style="display: flex;" @onclick="AddNewBrand">
                <span style="margin-right: 1rem;" class="material-icons">add_circle_outline</span> Add New Brand
            </button>

        </div>
        <div style="display: flex; align-items: center; justify-content: center; margin-bottom: 2rem;">
            <div class="input-group" style="margin-right:.8rem;">
                <input type="text" placeholder="Quick Search" class="form-control" style="border-right: none;">
                <div class="input-group-append" style="align-self: start;">
                    <span class="input-group-text" style=" border-left: none; background-color: #fff0;">
                        <span class="material-icons" style="color: #C5C7CD;">
                            search
                        </span>
                    </span>
                </div>
            </div>
            <button type="button" class="btn btn-primary custom-btn" style="margin-right: 0.8rem;">SEARCH</button>
            <button @onclick="loadBrands" type="button" class="btn btn-primary custom-btn">REFRESH</button>
        </div>
    </div>

    @if (brands == null)
    {
        <div class="spinner-border m-4" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    }
    else
    {
        <RadzenGrid AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowPaging="true" PageSize="5" AllowSorting="true" Data="@brands" TItem="Brand" ColumnWidth="200px" AllowAdd="true">
            <Columns>
                <RadzenGridColumn TItem="Brand" Property="id" Title="ID" />
                <RadzenGridColumn TItem="Brand" Property="code" Title="CODE" />
                <RadzenGridColumn TItem="Brand" Property="description" Title="DESCRIPTION" />
                <RadzenGridColumn TItem="Brand" Property="action" Title="Action">
                    <Template Context="brand">
                        <RadzenButton Icon="edit" Size="ButtonSize.Small" Style="background-color: #fbbc05" Click="@(args => EditBrand(brand))">
                        </RadzenButton>
                    </Template>
                </RadzenGridColumn>
            </Columns>
        </RadzenGrid>
    }
</div>
@code {
    protected override void OnInitialized()
    {
        dialogService.OnOpen += Open;
        dialogService.OnClose += Close;
    }

    void Open(string title, Type type, Dictionary<string, object> parameters, DialogOptions options)
    {
        StateHasChanged();
    }

    void Close(dynamic result)
    {
        StateHasChanged();
        Status = false;
        brand.description = "";
        brand.code = "";
    }

    async Task AddNewBrand() => await dialogService.OpenAsync("Add New Brand", ds =>
    @<RadzenTemplateForm TItem="Brand" Data="@brand" Submit="AddBrand" InvalidSubmit="OnInvalidSubmit">
    <div class="container" style="padding: 1rem 4rem;">
        @if (Status) {
            <div class="alert @StatusClass mb-4" role="alert"><small>@StatusMessage</small></div>
        }
        
        <div class="form-group row" style="align-items: center; margin: 0 0 1rem;">
            <label style="width: 7rem;">Code</label>
            <div class="col-sm">
                <RadzenTextBox style="display: block; width: 100%;" Name="Code" @bind-Value="brand.code" />
                <RadzenRequiredValidator Component="Code" Text="code is required" />
            </div>
        </div>
        <div class="form-group row" style="align-items: center; margin: 0 0 1rem;">
            <label style="width: 7rem;">Description</label>
            <div class="col-sm">
                <RadzenTextBox style="display: block; width: 100%;" Name="Description" @bind-Value="brand.description"/>
                <RadzenRequiredValidator Component="Description" Text="Description is required" />
            </div>
        </div>
        <div class="form-check" style="margin-left: 8rem; margin-top: 2rem;">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
                Inactive
            </label>
        </div>
        <div class="d-flex justify-content-end pt-4">
            <RadzenButton ButtonType="ButtonType.Submit" Text="ADD" Style="margin-right: 0.8rem; height: 2.5rem; background-color: var(--primary)"></RadzenButton>
            <button style="width: 7rem;" type="button" class="btn btn-secondary" @onclick="()=> ds.Close(false)">CANCEL</button>
        </div>
    </div>
</RadzenTemplateForm>, new DialogOptions() { Width = "700px" });

    async Task EditBrand(Brand brand) => await dialogService.OpenAsync("Edit Brand", ds =>
    @<div class="container" style="padding: 1rem 4rem;">
        <p>current id is @brand.id</p>
    <div class="form-group row" style="align-items: center;">
        <label style="width: 7rem;">Code</label>
        <div class="col-sm">
            <input type="text" class="form-control" value="@brand.code">
        </div>
    </div>
    <div class="form-group row" style="align-items: center;">
        <label style="width: 7rem;">Description</label>
        <div class="col-sm">
            <input type="text" class="form-control" value="@brand.description">
        </div>
    </div>
    <div class="form-check" style="margin-left: 7rem;">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
            Inactive
        </label>
    </div>
    <div class="d-flex justify-content-end pt-4">
        <button style="width: 7rem; margin-right: 0.6rem;" type="button" class="btn btn-primary" @onclick="()=> ds.Close(true)">ADD</button>
        <button style="width: 7rem;" type="button" class="btn btn-secondary" @onclick="()=> ds.Close(false)">CANCEL</button>
    </div>
</div>, new DialogOptions() { Width = "700px" });
    }

    @code {
        IEnumerable<Brand> brands;
        bool brandLoaded;

        // Get Brands
        protected override async Task OnInitializedAsync()
        {
            await loadBrands();
        }

        private async Task loadBrands()
        {
            var apiName = "Admin/Brands/GetBrands?PageSize=99999";
            var httpResponse = await client.GetAsync(apiName);
            try
            {
                if (httpResponse.IsSuccessStatusCode)
                {
                    Response responseData = JsonConvert.DeserializeObject<Response>(await httpResponse.Content.ReadAsStringAsync());
                    brands = responseData.brands;
                    brandLoaded = true;
                }
            } catch(Exception e)
            {
                brandLoaded = false;
            }
        }

        // Add Brand

        private string StatusMessage;
        private string StatusClass;
        private bool Status = false;
        private Brand brand = new Brand();

        protected void OnInvalidSubmit(FormInvalidSubmitEventArgs args)
        {
            Status = true;
            StatusClass = "alert-danger";
            StatusMessage = "Please fill the required fields!";
        }

        public string CodeValue { get; set; }
        public string CodeDescription { get; set; }
        bool loadFailed;

        protected async Task AddBrand()
        {
            Status = true;
            try
            {
                loadFailed = false;
                await client.SendJsonAsync(HttpMethod.Post, "Admin/Brands/AddBrand", brand);
            } catch (Exception e)
            {
                loadFailed = true;
            }

            if (!loadFailed)
            {
                StatusClass = "alert-success";
                StatusMessage = "Brand added successfully!";
            } else
            {
                StatusClass = "alert-danger";
                StatusMessage = "Code already exists!";
            }
        }
    }


    <style>
        .custom-btn {
            padding: 0.4rem 0.8rem;
            height: auto;
            background-color: #2F44D3;
        }

        .brands-table th {
            text-align: center;
        }

        .brands-table td {
            padding: 0.2rem;
        }

        .brands-table th, .brands-table td {
            border: none !important;
            text-align: center;
        }

        .brands-table.table-striped tbody tr:nth-of-type(odd) {
            background-color: #edf1f2;
        }
    </style>
