﻿@page "/"
@inject HttpClient client;

@using Newtonsoft.Json
@using Data 

<h1>API Calling</h1>

@*<button class="btn btn-success" @onclick="@GetBrands">Get Brands List</button>
<table class="table">
    <thead>
        <tr>
            <th>Brand ID</th>
            <th>Code</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var user in Users)
        {
        <tr>
            <td>@user.Id</td>
            <td>@user.Code</td>
            <td>@user.Description</td>
        </tr>
        }
    </tbody>
</table>*@

@*@code {
    List<User> Users = new List<User>();

    private async void GetBrands()
    {
        var apiName = "Admin/Brands/GetBrands";
        var httpResponse = await client.GetAsync(apiName);

        if (httpResponse.IsSuccessStatusCode)
        {
            Response responseData = JsonConvert.DeserializeObject<Response>(await httpResponse.Content.ReadAsStringAsync());
            Users = responseData.Users;
            StateHasChanged();
        }
    }

}*@
